<mat-card *ngIf="(authenticationService.userObservable | async) !== null && !(authenticationService.userObservable | async)?.isAnonymous">
  <mat-card-content>
    You're signed in as {{ (authenticationService.userObservable | async)?.uid }}.
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      (click)="signInAnonymously();"
      color="primary"
      mat-button="">
      Sign out
    </button>
  </mat-card-actions>
</mat-card>
<button
  (click)="confirmUserWithPasskey();"
  color="primary"
  mat-raised-button=""
  *ngIf="(authenticationService.userObservable | async) !== null && !(authenticationService.userObservable | async)?.isAnonymous">
  Confirm with passkey
</button>
<mat-card *ngIf="(authenticationService.userObservable | async)?.isAnonymous">
  <mat-card-header>
    <mat-card-title>
      Create an account
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="formGroup"
      (ngSubmit)="submit();">
      <mat-form-field>
        <mat-label>
          Name
        </mat-label>
        <input
          autocapitalize="words"
          autocomplete="name"
          formControlName="displayName"
          matInput=""
          [required]="true"
          type="text">
        <mat-error *ngIf="formGroup.controls.displayName?.hasError('required')">
          This is required.
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      color="primary"
      mat-button="">
      Use a random name
    </button>
    <button
      color="primary"
      [disabled]="formGroup.invalid"
      mat-icon-button=""
      type="submit">
      <mat-icon>
        arrow_forward
      </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<button
  (click)="signInWithPasskey();"
  color="primary"
  mat-raised-button=""
  *ngIf="(authenticationService.userObservable | async)?.isAnonymous">
  Sign in with passkey
</button>
